doctype html
html
	head
		title=username
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="css/custom.css")
	body
		div.header
			nav(class="navbar navbar-inverse" role="navigation")
				div.container-fluid
					div.navbar-hearder
						button(type="button" class="navbar-toggle collapsed" data-toggle="collapsed" data-target="#bs-example-navbar-navbar-collapse-1")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a(class="navbar-brand" href="/") College Clubs MN

						//Collect the nav links and other content for toggling
						div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
							ul(class="nav navbar-nav")
								li
									a(href="/clubs") Clubs
							ul(class="nav navbar-nav navbar-right")
								li.active
									a(href="/admin_index") Admin
								li
									a(href="/settings") Settings
								li
									a(href="/signout") Sign out

		div.container
			div(class="panel panel-success")
				div(class="panel panel-heading")
					| Administrative tools
				div(class="panel panel-body")
					div.row
						div(class="col-sm-6 col-md-4")
							a(href="/requests")
								div.thumbnail
									div.caption
										h3="Club request"
						div(class="col-sm-6 col-md-4")
							a(href="/api/users")
								div.thumbnail
									div.caption
										h3="Users"
						div(class="col-sm-6 col-md-4")
							a(href="/api/users")
								div.thumbnail
									div.caption
										h3="Universities"
		div.footer