doctype html
html
	head
		title="Settings"
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="css/custom.css")
	body
		div.header
			nav(class="navbar navbar-inverse" role="navigation")
				div.container-fluid
					div.navbar-hearder
						button(type="button" class="navbar-toggle collapsed" data-toggle="collapsed" data-target="#bs-example-navbar-navbar-collapse-1")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a(class="navbar-brand" href="/") College Clubs MN

						//Collect the nav links and other content for toggling
						div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
							ul(class="nav navbar-nav")
								li
									a(href="/clubs") Clubs
							ul(class="nav navbar-nav navbar-right")
								li
									a(href="/profile") #{username}
								li.active
									a(href="/settings") Settings
								li
									a(href="/signout") Sign out

		div.container
			div.jumbotron
				h3="Add a club"
				form(role="form" action="/settings" method="post" class="form-horizontal")
					div.form-group
						label(for="inputClubName" class="col-sm-2 control-label") Club Name
						div.col-sm-3
							input(type="text" class="form-control" id="inputClubName" name="clubName")
					div.form-group
						label(for="inputUniversity" class="col-sm-2 control-label") University
						div.col-sm-3
							input(type="text" class="form-control" id="inputUniversity" name="universityName")
					div.form-group
						div(class="col-sm-offset-2 col-sm-10")
							button(type="submit" class="btn btn-default") Request!
		div.footer