<head>
	<link rel="stylesheet" type="text/css" href="/app/signup/signup.css">
</head>
<div class="signup" ng-controller="signupCtrl">
	<h2 class="title">
		Signup
	</h2>
	<div ng-show="signupResponse.error">
		<i>{{signupResponse.message}}</i>
	</div>
	<form>
		<div layout="row">
			<md-input-container flex>
				<label>First name</label>
				<input ng-model="firstName" required="required">
			</md-input-container>
			<md-input-container flex>
				<label>Last name</label>
				<input ng-model="lastName" required="required">
			</md-input-container>
		</div>
		<md-input-container flex>
			<label>Username</label>
			<input ng-model="username" required="required">
		</md-input-container>
		<md-input-container flex>
			<label>Email</label>
			<input ng-model="email" type="email" required="required">
			<md-tooltip>
	        	Please use your school email address!
	      </md-tooltip>
		</md-input-container>
		<md-input-container flex>
			<label>Password</label>
			<input ng-model="password" type="password" required="required">
		</md-input-container>
		<md-input-container flex>
			<label>Repeate password</label>
			<input ng-model="repeatePassword" type="password" required="required">
		</md-input-container>
		<md-button ng-click="signup(email, password, repeatePassword, username, firstName, lastName, university)" id="mdButton">Signup</md-button>
	</form>
</div>


