.signup{
	text-align: center;
	background-color: #FFFF9D;
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
}

.title{
	font-style: bold;
}

form{
	padding-right: 30%;
	padding-left: 30%;
}

input, md-input-container{
	text-align: center;
}

md-select{

	width: 300px;
}