/*Custom css*/
body{
	background-image: url('/images/graphy.png');
	opacity: 0.9;
	color: #C7CECF;
}

.jumbotron{
	background-color: #941515;
	margin-top: 5%;
	margin-bottom: 5%;
}

.caption{
	text-align: center;
}

.thumbnail{
	background-color: #941515;
}
.row{
	opacity: 0.8;
	color: #C7CECF;	
}

hr{
	background-color: #313634;
	height: 5px;
}