.student{
	padding: 5%;
	background-color: #FFFF9D;
}

.title{
	font-style: bold;
}

#name{
	text-align: center;
}

form{
	padding-right: 30%;
	padding-left: 30%;
}

input, md-input-container{
	text-align: center;
}

md-select{

	width: 300px;
}



#studentInfo{
	float: left;
	max-width: 30%;
	min-height: 100%;
}

#content{
	margin-left : 32%;
	min-height: 100%;
}
md-list{
	background-color: #BEEB9F;
}

md-subheader{
	background-color: #FF5722;
	color: #FFFF8D;
}