.student .loadingView{
	padding-top: 10%;
	padding-left: 50%;
}

.student{
	padding: 5%;
	background-color: #FFFF9D;
}

.title{
	font-style: bold;
}

img{
	width: 25%;
	height: 25%;
}

#name{
	text-align: center;
}

form{
	padding-right: 30%;
	padding-left: 30%;
}

input, md-input-container{
	text-align: center;
}

md-select{

	width: 300px;
}

md-icon{
	margin-left: 5%; 
}

#studentInfo{
	float: left;
	width: 30%;
	min-height: 100%;
}

#content{
	margin-left : 32%;
	min-height: 100%;
}
md-list{
	background-color: #BEEB9F;
}

#content{
	background-color: #FF5722;
	color: #FFFF8D;
}